* {
  -webkit-tap-highlight-color: transparent; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  background-color: #008cc5;
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

p {
  font-size: 1em; }

ol, ul {
  list-style: none; }

b {
  font-weight: 400; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sup {
  vertical-align: top;
  font-size: 0.8em;
  position: relative;
  top: -0.4em; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block; }

.swipe-img > img {
  display: block;
  width: 75%;
  height: auto;
  margin: 0 auto; }

.swipe-textbox {
  padding: 0 20px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.3em;
  min-height: 62px; }

#container {
  margin: 50px 15px 0 15px; }

.brand {
  display: block;
  margin: 0 auto;
  margin-bottom: 3em;
  width: 188px; }

h1 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 2em; }

.video, .links {
  padding-bottom: 2em;
  background-image: url("img/glow.png");
  background-size: 320px auto;
  background-position: top center;
  background-repeat: no-repeat; }

.links {
  background-position: center 1em;
  text-align: center; }

.btn-cta {
  outline: none;
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 2.5em;
  text-align: center;
  background-color: #4caed6;
  box-shadow: 0 1px 0 #5bbede inset, 0 1px 0 #61b8db;
  border: 1px solid #0078a9;
  border-top: 1px solid #0087bf;
  border-bottom: 1px solid #006a96;
  border-radius: 3px; }
  .btn-cta:active {
    background-color: #82c6e2;
    border-top-color: #0078a9;
    border-bottom-color: #4d97b6;
    box-shadow: 0 1px 0 #8cd2e8 inset, 0 1px 0 #61b8db; }

.btn-store {
  width: 128px;
  margin: 3em 0;
  display: inline-block;
  height: 44px;
  background-size: 100% auto; }
  .btn-store.appstore-link {
    float: left;
    background-image: url("img/btn-store-apple.png"); }
  .btn-store.googleplay-link {
    float: right;
    background-image: url("img/btn-store-android.png"); }

footer {
  margin: 0 15px 3em 15px;
  clear: both; }
  footer small {
    font-size: 0.8em;
    display: block;
    line-height: 1.3em;
    margin-bottom: 20px; }
  footer a {
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: 400; }

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
