html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-text-size-adjust: 100%; }

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333; }

p {
  font-size: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block; }

.swipe-img > img {
  display: block;
  width: 75%;
  height: 50%;
  margin: 0 auto; }

.swipe-textbox {
  padding: 0 20px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.3em;
  min-height: 62px; }

h2 {
  font-size: 1.2em; }

#lumia-short-device-infos {
  padding-top: 60px;
  display: inline-block;
  width: 100%; }

.lumia-top-navbar {
  background-color: white;
  background-image: url("img/winphone_logo.png");
  background-size: 140px 20px;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  line-height: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 20px 0;
  width: 100%;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.lumia-top-navbar > a {
  color: #333333;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1em;
  float: right;
  line-height: 20px;
  margin-right: 20px; }

#lumia-intro-slider {
  background-color: #00bcf2;
  color: white;
  padding-top: 78px;
  padding-bottom: 32px;
  width: 100%; }
  #lumia-intro-slider .slider-btn {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 100%;
    background-image: url("img/slider-arrows.png");
    background-repeat: no-repeat;
    background-size: 150px 50px;
    background-position: 0 50%;
    display: block;
    opacity: 0.3; }
    #lumia-intro-slider .slider-btn.prev {
      left: 20px;
      background-position: 0 50%; }
    #lumia-intro-slider .slider-btn.next {
      right: 20px;
      background-position: -100px 50%; }

.lumia-device-info-category > ul {
  display: none; }

.lumia-device-info-category.active > ul {
  display: block; }

#lumia-device-infos {
  padding-top: 60px; }

.lumia-device-infos-title {
  background: #969696;
  color: white;
  padding: 15px 20px; }

.lumia-device-info-category-title,
.lumia-device-info-category-item {
  padding: 10px 20px;
  font-size: 1em; }

.lumia-device-info-category-title {
  background-color: #00bcf2;
  background-image: url("img/accordion-arrows.png");
  background-size: 18px 49px;
  background-repeat: no-repeat;
  background-position: 95% 12px;
  font-weight: lighter;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .lumia-device-info-category-title:last-child {
    border-bottom: none; }
  .lumia-device-info-category-title.active {
    background-position: 95% -24px; }

.lumia-device-info-category-content {
  padding: 27px 3%; }

#lumia-phone-provider {
  width: 100%;
  padding-top: 60px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: white;
  background-image: url("img/lumiavideo_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center; }
  #lumia-phone-provider video {
    margin: 0 20px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%; }
  #lumia-phone-provider p {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 20px;
    line-height: 1.5em; }
  #lumia-phone-provider .lumia-store {
    float: left;
    width: 50%;
    height: 100px;
    display: block;
    -moz-background-size: auto 50%;
    -webkit-background-size: auto 50%;
    background-size: auto 50%;
    background-position: center center;
    background-repeat: no-repeat; }
    #lumia-phone-provider .lumia-store.vodafone {
      background-color: #00bcf2;
      background-image: url("img/provider/vodafone.png"); }
    #lumia-phone-provider .lumia-store.o2 {
      background-color: darkorange;
      background-image: url("img/provider/o2.png"); }
    #lumia-phone-provider .lumia-store.tmobile {
      background-color: #7fba00;
      background-image: url("img/provider/tmobile.png"); }
    #lumia-phone-provider .lumia-store.mobilcom {
      background-color: #00d8cc;
      background-image: url("img/provider/mobilcom.png"); }

small {
  font-size: 0.8em;
  padding: 40px 20px;
  display: block;
  line-height: 1.3em; }

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media only screen and (max-width: 480px) {
  #lumia-phone-provider video {
    width: 85%; }

  .mobilcom {
    -moz-background-size: auto 35% !important;
    -webkit-background-size: auto 35% !important;
    background-size: auto 35% !important; } }
