$blue: #00BCF2
$grey: #969696


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body 
  line-height: 1
  font-family: Arial, sans-serif
  font-size: 16px

p
  font-size: 1em

ol, ul 
  list-style: none

blockquote, q 
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table 
  border-collapse: collapse
  border-spacing: 0
  
.swipe
  overflow: hidden
  visibility: hidden
  position: relative

.swipe-wrap
  overflow: hidden
  position: relative

.swipe-wrap > div
  float: left
  width: 100%
  position: relative
  overflow: hidden
  display: block
  
.swipe-textbox
  position: absolute
  top: 0
  left: 0
  width: 100%
  
h2
  font-size: 1.2em

#lumia-intro-slider,
#lumia-phone-provider,
#lumia-short-device-infos
  padding-top: 46px
  padding-left: 5%
  padding-right: 5%

.lumia-top-navbar
  background-color: white
  line-height: 1em
  position: fixed
  top: 0
  left: 0
  z-index: 99
  padding: 15px 5%
  width: 90%
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1)
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1)
  box-shadow: 0 2px 2px rgba(0,0,0,.1)

.lumia-top-navbar > a
  color: black
  font-family: sans-serif 
  text-decoration: none 
  font-size: 1em
  float: right

#lumia-intro-slider
  background-color: $blue
  color: white
  padding:
    top: 78px 
    bottom: 32px
  width: 90%
  .slider-btn
    position: absolute
    z-index: 2
    width: 50px
    height: 50px
    background-color: red
    display: block
    &.prev
      left: 0
    &.next
      right: 0
  
.lumia-device-info-category > ul
  display: none
.lumia-device-info-category.active > ul
  display: block


.lumia-device-infos-title
  background: $grey
  color: white
  padding: 15px 5%

.lumia-device-info-category-title, 
.lumia-device-info-category-item
  padding: 10px 5%
  font-size: 1em

.lumia-device-info-category-title
  background: $blue
  font-weight: lighter
  color: white
  border-bottom: 1px solid rgba(255,255,255,.3)

.lumia-device-info-category-content 
  padding: 27px 3%