$font-color: #333333
$blue: #00BCF2
$grey: #969696

$topbar-height: 60px
$default-padding: 20px

$vodafone-bg: #E30513
$o2-bg: #133E8A
$tmobile-bg: #E10073
$mobilcom-bg: #0E2143

*
  -webkit-tap-highlight-color: transparent

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

html
  -webkit-text-size-adjust: 100%

body 
  line-height: 1
  //font-family: Arial, sans-serif
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-size: 16px
  color: $font-color

p
  font-size: 1em

ol, ul 
  list-style: none

b
  font-weight: 400

blockquote, q 
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table 
  border-collapse: collapse
  border-spacing: 0
  
.swipe
  overflow: hidden
  visibility: hidden
  position: relative

.swipe-wrap
  overflow: hidden
  position: relative

.swipe-wrap > div
  float: left
  width: 100%
  position: relative
  overflow: hidden
  display: block

.swipe-img > img
  display: block
  width: 75%
  height: auto
  margin: 0 auto

.swipe-textbox
  padding: 0 20px
  margin-bottom: 20px
  font-weight: 600
  line-height: 1.3em
  min-height: 62px
//.slide-teaser.intro-one .swipe-img
//  background-image: url('img/slider/slider_1.png')
//.slide-teaser.intro-two .swipe-img
//  background-image: url('img/slider/slider_2.png')
//.slide-teaser.intro-three .swipe-img
//  background-image: url('img/slider/slider_3.png')
//.slide-teaser.intro-four *
//  background-image: url('img/slider/slider_4.png')

h2, .subhead
  font-size: 1.2em
  font-weight: 600
  line-height: 1.5em
  padding: $default-padding

$kurz-info-logo-size: 75px 15px
$kurz-info-phone-size: 115px 218px

#lumia-short-device-infos
  padding-top: $topbar-height - $default-padding
  display: inline-block
  width: 100%
  ul
    margin: 0 $default-padding
    padding-bottom: $topbar-height
    background-image: url('img/kurzinfo_logo.png'), url('img/kurzinfo_phone.png')
    -moz-background-size: $kurz-info-logo-size, $kurz-info-phone-size
    -webkit-background-size: $kurz-info-logo-size, $kurz-info-phone-size
    background-size: $kurz-info-logo-size, $kurz-info-phone-size
    background-position: 0px 95%, 100% 175%
    background-repeat: no-repeat
  h2
    letter-spacing: 1px
    padding-top: 0
  .lumia-short-info-item
    line-height: 1.3em
    margin-bottom: $default-padding / 2
    &:last-child
      width: 60%
    b.unbreakable
      white-space: nowrap

$windows-phone-logo-size: 140px 20px

.lumia-top-navbar
  background:
    color: white
    image: url('img/winphone_logo.png')
    position: $default-padding 20px
    repeat: no-repeat
  -moz-background-size: $windows-phone-logo-size
  -webkit-background-size: $windows-phone-logo-size
  background-size: $windows-phone-logo-size
  line-height: 1em
  position: fixed
  top: 0
  left: 0
  z-index: 99
  padding: 20px 0
  width: 100%
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1)
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1)
  box-shadow: 0 2px 2px rgba(0,0,0,.1)

.lumia-top-navbar > a
  color: $font-color
  font-family: sans-serif 
  text-decoration: none 
  font-size: 1em
  float: right
  line-height: 20px
  margin-right: $default-padding


$slider-btn-size: 75px 25px

#lumia-intro-slider
  background-color: $blue
  color: white
  padding:
    top: 78px 
    bottom: 32px
  width: 100%
  .slider-btn
    position: absolute
    z-index: 2
    width: 50px
    height: 100%
    background:
      image: url('img/slider-arrows.png')
      repeat: no-repeat
      position: 0 50%
    -moz-background-size: $slider-btn-size
    -webkit-background-size: $slider-btn-size
    background-size: $slider-btn-size
    display: block
    opacity: .6
    &.prev
      left: 0
      background-position: 0 50%
    &.next
      right: 0
      background-position: -25px 50%
  
.lumia-device-info-category > ul
  display: none
.lumia-device-info-category.active > ul
  display: block

.lumia-device-infos-title
  background: $grey
  color: white
  padding: 15px $default-padding

.lumia-device-info-category-title, 
.lumia-device-info-category-item
  padding: 10px $default-padding
  font-size: 1em

.lumia-device-info-category-title
  background-color: $blue 
  background-image: url('img/accordion-arrows.png')
  background-size: 18px 49px
  background-repeat: no-repeat
  background-position: 95% 12px
  font-weight: lighter
  color: white
  border-bottom: 1px solid rgba(255,255,255,.3)
  &:last-child
    border-bottom: none
  &.active
    background-position: 95% -24px

.lumia-device-info-category-content 
  padding: 27px 3%

#lumia-phone-provider
  width: 100%
  padding-top: 0
  -moz-background-size: cover
  -webkit-background-size: cover
  background-size: cover
  background:
    color: white
    image: url('img/lumiavideo_bg.jpg')
    repeat: no-repeat
    position: center center
  video
    margin: 0 $default-padding $default-padding
    display: block
    margin-left: auto
    margin-right: auto
    width: 85%
  h2
    color: white
    padding-top: $topbar-height - $default-padding
  .subhead
    background: rgba(0,0,0,.5)
    color: white
    padding: 20px $default-padding
    font-size: 1em
  .lumia-store
    float: left
    width: 50%
    height: 100px
    display: block
    -moz-background-size: auto 50%
    -webkit-background-size: auto 50%
    background-size: auto 50%
    background-position: center center
    background-repeat: no-repeat
    &.vodafone
      background-color: $vodafone-bg
      background-image: url('img/provider/vodafone.png')
    &.o2
      background-color: $o2-bg
      background-image: url('img/provider/o2.png')
    &.tmobile
      background-color: $tmobile-bg
      background-image: url('img/provider/tmobile.png')
    &.mobilcom
      background-color: $mobilcom-bg
      background-image: url('img/provider/mobilcom.png')
    
footer    
  padding: 40px 20px
  small
    font-size: 0.8em
    display: block
    line-height: 1.3em
    margin-bottom: 20px
  a
    display: block
    width: 100%
    text-align: center
    color: $blue
    text-decoration: none
    font-weight: 400

/* Large desktop */
@media (min-width: 1200px)
  //body
  //  border: 5px solid green

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
  //body
  //  border: 5px solid red

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
  //body
  //  border: 5px solid orange
    

/* Landscape phones and down */
@media only screen and (max-width: 480px)
  //body
  //  border: 5px solid pink
    
  #lumia-phone-provider video
    width: 85%
  .mobilcom
    -moz-background-size: auto 35% !important
    -webkit-background-size: auto 35% !important
    background-size: auto 35% !important

    
